# .coveragerc to control coverage.py
[run]
branch = True
cover_pylib = False
data_file = .coverage

# compute coverage on the whole project
source =
    ./autobuilder
    ./autobump

omit =
    */tests/*
    *__init__.py
    *exceptions.py
    *constants.py

[report]
exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
[html]
directory = coverage_html_report